/* $ff-300: 'helvetica_regular';
$ff-300i: 'helvetica_oblique'; */
@font-face {
  font-family: "helvetica_light";
  src: url("../font/helvetica_light.woff2") format("woff2"), url("../font/helvetica_light.woff") format("woff"), url("../font/helvetica_light.svg#helvetica_light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "helvetica_lightoblique";
  src: url("../font/helvetica_lightoblique.woff2") format("woff2"), url("../font/helvetica_lightoblique.woff") format("woff"), url("../font/helvetica_lightoblique.svg#helvetica_lightoblique") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "helvetica_bold";
  src: url("../font/helvetica_bold.woff2") format("woff2"), url("../font/helvetica_bold.woff") format("woff"), url("../font/helvetica_bold.svg#helvetica_bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "helvetica_boldoblique";
  src: url("../font/helvetica_boldoblique.woff2") format("woff2"), url("../font/helvetica_boldoblique.woff") format("woff"), url("../font/helvetica_boldoblique.svg#helvetica_boldoblique") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}